/* Fond de l'appli*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 89vh;
  background: linear-gradient(
    135deg,
    #4c4cf4,
    #000074
  ); /* gradient nus permet d'appliquer un dégradé de couleurs*/
}

/* Logo dans l'appli */
.App img {
  width: 450px; /* taille de notre logo */
  margin-bottom: 20px;
  border-radius: 12px; /* permet d'arrondir les coins pour un effet plus esthétique */
  background-color: #ffffff;
}

/* Slogan */
.App h1 {
  color: #ffffff;
}

/* Phrase du slogan*/
.App p {
  color: #dfdcdc;
}